################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/deploy/src/JAM.IIS.Config.Comparer/obj/Debug
