################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/deploy/src/JAM.IIS.Config.Comparer/obj/Debug
/deploy/src/JAM.IIS.Config.Comparer/bin/Debug
/deploy/src/JAM.IIS.Manager/obj/Debug
/deploy/src/JAM.IIS.Manager/bin/Debug
/iis-provisioning/src/JAM.IIS.Test/bin/Debug
/iis-provisioning/src/JAM.IIS.Test/obj/Debug
