<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="par1" value="xx"/>
    <add key="par2" value="xx"/>
    <add key="par3" value="xx"/>
    <add key="par4" value="xx"/>
    <add key="par5" value="xx"/>
    <add key="par6" value="x"/>
    <add key="par7" value="xx"/>
    <add key="par8" value="x"/>
  </appSettings>
</configuration>