<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="par1" value="val1"/>
    <add key="par2" value="val2"/>
    <add key="par3" value="val3"/>
    <add key="par4" value="val4"/>
    <add key="par5" value="val5"/>
    <add key="par6" value="val6"/>
    <add key="par7" value="val6"/>
  </appSettings>
</configuration>